/* =Media Print
-------------------------------------------------------------- */
@media print {

    h1 {
	    page-break-before: always;
    }

    h1,  h2,  h3,  h4,  h5,  h6 {
	    page-break-after: avoid;
    }

    ul,  ol,  dl {
	    page-break-before: avoid;
    }
}

/* Media Queries
-------------------------------------------------------------- */
@media screen and (max-width: $width-large) {
	#wrap {
		width: 100%; 	
	}	
}

@media screen and (max-width: $width-medium) {
	#content,
	#sidebar {
		float: left; 
		padding: 2%;
		width: 96%; 
	}
}

@media screen and (max-width: $width-small) {
	.main-navigation ul {
		display: none;
	}
	.menu-toggle,
	.main-small-navigation ul,
	.main-small-navigation ul ul {
		display: block;
	}
	.site-header .menu-toggle {
		background: $color-main;
		color: $white;
		font-family: $font-sans;
		@include fontsize(1.6);
		padding: 10px 22px;
		margin: 0;
		text-transform: uppercase;
		&:hover {
			background: $heading-color;
		}
		&:before {
			content: '\2261';
			@include fontsize(1.6);
			margin-right: 10px;
		}
	}
	.main-small-navigation ul {
		margin: 0;
		list-style: none;
		li {
			background: $color-main;
			&:hover {
				background: $heading-color;
			}
			a {
				display: block;
				color: $white;
				padding: 10px 40px;
				text-decoration: none;
			}
		}
	}
	.main-small-navigation ul ul a {
	  padding-left: 60px;
	}
	.main-small-navigation ul ul ul a {
	  padding-left: 80px;
	}	
}
