/* Primary Navigation
-------------------------------------------------------------- */
.main-navigation {	
	background: $grey;
	clear: both;
	display: block;
	float: left;
	margin: 0 auto 6px;
	width: 100%;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			position: relative;
			a {
				color: $white;
				display: block;
				padding: 0.5em 1.25em; 
				text-decoration: none;
				&:hover,
				&:focus {
					background: $light-grey;
					color: $grey;
				}
			}
		}
	}
}

.main-navigation ul ul {
	@include shadow(0, 3px, 3px, rgba(0,0,0,0.2));
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	left: 0;
	width: 180px;
	z-index: 99999;
	a {
		background: $grey;
		color: $white;
		height: auto;
		padding: 10px;
		width: 180px;
		&:hover {
			background: $light-grey;
			color: $grey;
		}
	}
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
	font-weight: bold;
}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}
.main-small-navigation > ul {
	display: none;
}

@media screen and (max-width: $width-small) {
	.main-navigation ul {
		display: none;
	}
	.menu-toggle,
	.main-small-navigation ul,
	.main-small-navigation ul ul {
		display: block;
	}
	.menu-toggle {
		background: $color-main;
		color: $white;
		font-family: $font-sans;
		@include font-size(16px);
		padding: 10px 22px;
		margin: 0;
		text-transform: uppercase;
		&:hover {
			background: $heading-color;
		}
		&:before {
			content: '\2261';
			@include font-size(16px);
			margin-right: 10px;
		}
	}
	.main-small-navigation ul {
		margin: 0;
		list-style: none;
		li {
			background: $color-main;
			&:hover {
				background: $heading-color;
			}
			a {
				display: block;
				color: $white;
				padding: 10px 40px;
				text-decoration: none;
			}
		}
	}
	.main-small-navigation ul ul a {
	  padding-left: 60px;
	}
	.main-small-navigation ul ul ul a {
	  padding-left: 80px;
	}	
}
