/* Primary Navigation
-------------------------------------------------------------- */
.main-navigation {	
	background: $grey;
	clear: both;
	display: block;
	float: left;
	margin: 0 auto 6px;
	width: 100%;
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			float: left;
			position: relative;
			a {
				color: $white;
				display: block;
				padding: 0.5em 1.25em; 
				text-decoration: none;
				&:hover,
				&:focus {
					background: $light-grey;
					color: $grey;
				}
			}
		}
	}
}

.main-navigation ul ul {
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	margin: 0;
	position: absolute;
	left: 0;
	width: 180px;
	z-index: 99999;
	a {
		background: $grey;
		color: $white;
		height: auto;
		padding: 10px;
		width: 180px;
		&:hover {
			background: $light-grey;
			color: $grey;
		}
	}
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul li:hover > ul {
	display: block;
}

.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
	font-weight: bold;
}

/* Small menu */
.menu-toggle {
	display: none;
	cursor: pointer;
}
.main-small-navigation > ul {
	display: none;
}